$border-radius-1: 2px;
$border-radius-2: 4px;

$border-base: #fff;

$spacer-1: 2px;
$spacer-2: 4px;
$spacer-3: 8px;
$spacer-4: 12px;
$spacer-5: 16px;

$color-base: #282829;

$font-light: 400;
$font-medium: 500;
$font-bold: 700;
